# Build
**/bin/
**/obj/
**/Debug/
**/Release/
**/x64/
**/x86/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# Test/Coverage
TestResults/
*.coverage
*.coveragexml

# Logs/temp
*.log
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db

# Trash
.dotnet/
git
main