# Dependencies
node_modules/

# Build output
build/
dist/
coverage/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment — giữ .env.example, bỏ hết còn lại
.env*
!.env.example

# Docker volumes 
.docker/

# .NET
bin/
obj/
*.user
*.suo
.vs/

# IDE
.vscode/
.idea/

# Ignore import tool folder
ImportVocabularyPBL3/

# Ignore SQL dump
init.sql