<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="PBL3Db"
      connectionString="Host=localhost;Port=5432;Database=pbl3;Username=postgres;Password=changeme;"
      providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="ExcelPath" value="Data\vocab.xlsx" />
  </appSettings>
</configuration>
