/****** Object:  Table [dbo].[example]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[example](
	[example_id] [bigint] IDENTITY(1,1) NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[sentence] [nvarchar](max) NOT NULL,
	[translation] [nvarchar](max) NULL,
	[audio_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[example_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercise]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise](
	[exercise_id] [bigint] IDENTITY(1,1) NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[exercise_type] [nvarchar](30) NOT NULL,
	[created_at] [datetime] NULL,
	[match_mode] [nvarchar](30) NULL,
	[is_mini_test] [bit] NOT NULL,
	[topic_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[exercise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercise_result]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_result](
	[result_id] [bigint] IDENTITY(1,1) NOT NULL,
	[exercise_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[is_correct] [bit] NOT NULL,
	[answered_at] [datetime] NULL,
	[session_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercise_session]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_session](
	[session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[topic_id] [bigint] NULL,
	[session_type] [varchar](20) NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
	[finished_at] [datetime2](7) NULL,
	[total_questions] [int] NOT NULL,
	[correct_count] [int] NOT NULL,
	[score] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_log]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[date] [date] NOT NULL,
	[activity_type] [nvarchar](20) NOT NULL,
	[score] [float] NULL,
	[session_id] [bigint] NULL,
	[words_studied] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[progress]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progress](
	[user_id] [bigint] NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[last_review_date] [date] NULL,
	[next_review_date] [date] NULL,
	[ease_factor] [float] NOT NULL,
	[interval_days] [int] NOT NULL,
	[repetitions] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[vocab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topic]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topic](
	[topic_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[parent_topic_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_vocabulary]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vocabulary](
	[user_id] [bigint] NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[note] [nvarchar](max) NULL,
	[first_learned_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[vocab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vocabulary]    Script Date: 4/27/2026 8:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vocabulary](
	[vocab_id] [bigint] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](100) NOT NULL,
	[ipa] [nvarchar](100) NULL,
	[audio_url] [nvarchar](255) NULL,
	[meaning_vi] [nvarchar](max) NOT NULL,
	[topic_id] [bigint] NOT NULL,
	[level] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vocab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[example] ON 

INSERT [dbo].[example] ([example_id], [vocab_id], [sentence], [translation], [audio_url]) VALUES (1, 1, N'Hello, how are you today?', N'Xin chào, hôm nay bạn thế nào?', N'https://translate.googleapis.com/translate_tts?ie=UTF-8&client=gtx&tl=en&q=Hello%2C%20how%20are%20you%20today%3F')
INSERT [dbo].[example] ([example_id], [vocab_id], [sentence], [translation], [audio_url]) VALUES (2, 2, N'Hi, it’s nice to meet you.', N'Chào, rất vui được gặp bạn.', N'https://translate.googleapis.com/translate_tts?ie=UTF-8&client=gtx&tl=en&q=Hi%2C%20it%E2%80%99s%20nice%20to%20meet%20you.')
INSERT [dbo].[example] ([example_id], [vocab_id], [sentence], [translation], [audio_url]) VALUES (3, 3, N'Good morning, I’m here for the meeting.', N'Chào buổi sáng, tôi đến đây để họp.', N'https://translate.googleapis.com/translate_tts?ie=UTF-8&client=gtx&tl=en&q=Good%20morning%2C%20I%E2%80%99m%20here%20for%20the%20meeting.')
GO
SET IDENTITY_INSERT [dbo].[example] OFF
GO
SET IDENTITY_INSERT [dbo].[topic] ON 

INSERT [dbo].[topic] ([topic_id], [name], [description], [parent_topic_id]) VALUES (1, N'Daily Communication', N'Common vocabulary and expressions used in everyday conversations, greetings, shopping, and basic interactions.', NULL)
INSERT [dbo].[topic] ([topic_id], [name], [description], [parent_topic_id]) VALUES (2, N'Work and Education', N'Vocabulary related to jobs, workplaces, school life, studying, meetings, and professional communication.', NULL)
INSERT [dbo].[topic] ([topic_id], [name], [description], [parent_topic_id]) VALUES (3, N'Health', N'Words and expressions about the human body, illnesses, healthy habits, exercise, and medical situations.', NULL)
SET IDENTITY_INSERT [dbo].[topic] OFF
GO
SET IDENTITY_INSERT [dbo].[vocabulary] ON 

INSERT [dbo].[vocabulary] ([vocab_id], [word], [ipa], [audio_url], [meaning_vi], [topic_id], [level]) VALUES (1, N'Hello', N'/həˈləʊ/', N'https://api.dictionaryapi.dev/media/pronunciations/en/hello-au.mp3', N'Xin chào', 8, N'A1')
INSERT [dbo].[vocabulary] ([vocab_id], [word], [ipa], [audio_url], [meaning_vi], [topic_id], [level]) VALUES (2, N'Hi', N'/haɪ/', N'https://api.dictionaryapi.dev/media/pronunciations/en/hi-1-uk.mp3', N'Chào', 8, N'A1')
INSERT [dbo].[vocabulary] ([vocab_id], [word], [ipa], [audio_url], [meaning_vi], [topic_id], [level]) VALUES (3, N'Good Morning', N'/ˌɡʊd ˈmɔː.nɪŋ/', N'https://api.dictionaryapi.dev/media/pronunciations/en/good%20morning-uk.mp3', N'Chào buổi sáng', 8, N'A1')
GO
SET IDENTITY_INSERT [dbo].[vocabulary] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__topic__72E12F1B27EBA900]    Script Date: 4/27/2026 8:06:32 PM ******/
ALTER TABLE [dbo].[topic] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164F95EC7B0]    Script Date: 4/27/2026 8:06:32 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57211A94786]    Script Date: 4/27/2026 8:06:32 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[exercise] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[exercise] ADD  CONSTRAINT [DF_exercise_is_mini_test]  DEFAULT ((0)) FOR [is_mini_test]
GO
ALTER TABLE [dbo].[exercise_result] ADD  DEFAULT (getdate()) FOR [answered_at]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_started_at]  DEFAULT (sysutcdatetime()) FOR [started_at]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_total_questions]  DEFAULT ((0)) FOR [total_questions]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_correct_count]  DEFAULT ((0)) FOR [correct_count]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_score]  DEFAULT ((0.0)) FOR [score]
GO
ALTER TABLE [dbo].[learning_log] ADD  CONSTRAINT [DF_learning_log_words_studied]  DEFAULT ((0)) FOR [words_studied]
GO
ALTER TABLE [dbo].[progress] ADD  CONSTRAINT [DF_progress_ease_factor]  DEFAULT ((2.5)) FOR [ease_factor]
GO
ALTER TABLE [dbo].[progress] ADD  CONSTRAINT [DF_progress_interval_days]  DEFAULT ((1)) FOR [interval_days]
GO
ALTER TABLE [dbo].[progress] ADD  CONSTRAINT [DF_progress_repetitions]  DEFAULT ((0)) FOR [repetitions]
GO
ALTER TABLE [dbo].[user_vocabulary] ADD  DEFAULT ('NEW') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[example]  WITH CHECK ADD FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [FK_exercise_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [FK_exercise_topic]
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [FK_exercise_vocab] FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [FK_exercise_vocab]
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercise] ([exercise_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD  CONSTRAINT [FK_exercise_result_exercise] FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercise] ([exercise_id])
GO
ALTER TABLE [dbo].[exercise_result] CHECK CONSTRAINT [FK_exercise_result_exercise]
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD  CONSTRAINT [FK_exercise_result_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[exercise_session] ([session_id])
GO
ALTER TABLE [dbo].[exercise_result] CHECK CONSTRAINT [FK_exercise_result_session]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [FK_exercise_session_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [FK_exercise_session_topic]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [FK_exercise_session_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [FK_exercise_session_user]
GO
ALTER TABLE [dbo].[learning_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[learning_log]  WITH CHECK ADD  CONSTRAINT [FK_learning_log_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[exercise_session] ([session_id])
GO
ALTER TABLE [dbo].[learning_log] CHECK CONSTRAINT [FK_learning_log_session]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD FOREIGN KEY([user_id], [vocab_id])
REFERENCES [dbo].[user_vocabulary] ([user_id], [vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[topic]  WITH CHECK ADD FOREIGN KEY([parent_topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[user_vocabulary]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_vocabulary]  WITH CHECK ADD FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vocabulary]  WITH CHECK ADD FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [CK_exercise_match_mode] CHECK  (([exercise_type]='MATCH_MEANING' AND ([match_mode]='MATCH_MEANING' OR [match_mode]='MATCH_IPA') OR [exercise_type]='FILLING' AND [match_mode] IS NULL))
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [CK_exercise_match_mode]
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [CK_exercise_type] CHECK  (([exercise_type]='FILLING' OR [exercise_type]='MATCH_MEANING'))
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [CK_exercise_type]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [CK_exercise_session_counts] CHECK  (([total_questions]>=(0) AND [correct_count]>=(0) AND [correct_count]<=[total_questions]))
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [CK_exercise_session_counts]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [CK_exercise_session_score] CHECK  (([score]>=(0) AND [score]<=(100)))
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [CK_exercise_session_score]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [CK_exercise_session_type] CHECK  (([session_type]='REVIEW' OR [session_type]='PRACTICE' OR [session_type]='MINI_TEST'))
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [CK_exercise_session_type]
GO
ALTER TABLE [dbo].[learning_log]  WITH CHECK ADD CHECK  (([activity_type]='GAME' OR [activity_type]='REVIEW' OR [activity_type]='LEARN'))
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD  CONSTRAINT [CK_progress_srs] CHECK  (([ease_factor]>=(1.3) AND [interval_days]>=(0) AND [repetitions]>=(0)))
GO
ALTER TABLE [dbo].[progress] CHECK CONSTRAINT [CK_progress_srs]
GO
ALTER TABLE [dbo].[user_vocabulary]  WITH CHECK ADD CHECK  (([status]='MASTERED' OR [status]='LEARNING' OR [status]='NEW'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='LEARNER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([status]='BLOCKED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[vocabulary]  WITH CHECK ADD CHECK  (([level]='C1' OR [level]='B2' OR [level]='B1' OR [level]='A2' OR [level]='A1'))
GO
