USE [master]
GO
/****** Object:  Database [PBL3]    Script Date: 5/9/2026 7:57:06 AM ******/
CREATE DATABASE [PBL3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PBL3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PBL3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3]
GO
/****** Object:  Table [dbo].[example]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[example](
	[example_id] [bigint] IDENTITY(1,1) NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[sentence] [nvarchar](max) NOT NULL,
	[translation] [nvarchar](max) NULL,
	[audio_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[example_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercise]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise](
	[exercise_id] [bigint] IDENTITY(1,1) NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[exercise_type] [nvarchar](30) NOT NULL,
	[created_at] [datetime] NULL,
	[match_mode] [nvarchar](30) NULL,
	[is_mini_test] [bit] NOT NULL,
	[topic_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[exercise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercise_result]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_result](
	[result_id] [bigint] IDENTITY(1,1) NOT NULL,
	[exercise_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[is_correct] [bit] NOT NULL,
	[answered_at] [datetime] NULL,
	[session_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercise_session]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_session](
	[session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[topic_id] [bigint] NULL,
	[session_type] [varchar](20) NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
	[finished_at] [datetime2](7) NULL,
	[total_questions] [int] NOT NULL,
	[correct_count] [int] NOT NULL,
	[score] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_log]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[date] [date] NOT NULL,
	[activity_type] [nvarchar](20) NOT NULL,
	[score] [real] NOT NULL,
	[session_id] [bigint] NULL,
	[words_studied] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_token]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_token](
	[password_reset_token_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[used_at] [datetime] NULL,
	[consumed_by_ip] [nvarchar](64) NULL,
 CONSTRAINT [PK_password_reset_token] PRIMARY KEY CLUSTERED 
(
	[password_reset_token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[progress]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progress](
	[user_id] [bigint] NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[last_review_date] [date] NULL,
	[next_review_date] [date] NULL,
	[ease_factor] [float] NOT NULL,
	[interval_days] [int] NOT NULL,
	[repetitions] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[vocab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topic]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topic](
	[topic_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[parent_topic_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_vocabulary]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vocabulary](
	[user_id] [bigint] NOT NULL,
	[vocab_id] [bigint] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[note] [nvarchar](max) NULL,
	[first_learned_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[vocab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[google_subject] [nvarchar](200) NULL,
	[is_deleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vocabulary]    Script Date: 5/9/2026 7:57:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vocabulary](
	[vocab_id] [bigint] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](100) NOT NULL,
	[ipa] [nvarchar](100) NULL,
	[audio_url] [nvarchar](255) NULL,
	[meaning_vi] [nvarchar](max) NOT NULL,
	[topic_id] [bigint] NOT NULL,
	[level] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vocab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_exercise_topic_minitest_type]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_exercise_topic_minitest_type] ON [dbo].[exercise]
(
	[topic_id] ASC,
	[is_mini_test] ASC,
	[exercise_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_exercise_vocab_type_minitest]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_exercise_vocab_type_minitest] ON [dbo].[exercise]
(
	[vocab_id] ASC,
	[exercise_type] ASC,
	[is_mini_test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_exercise_result_session]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_exercise_result_session] ON [dbo].[exercise_result]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_exercise_session_user_started]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_exercise_session_user_started] ON [dbo].[exercise_session]
(
	[user_id] ASC,
	[started_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_learning_log_user_date]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_learning_log_user_date] ON [dbo].[learning_log]
(
	[user_id] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_password_reset_token_expires_at]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_password_reset_token_expires_at] ON [dbo].[password_reset_token]
(
	[expires_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_password_reset_token_token_hash]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_password_reset_token_token_hash] ON [dbo].[password_reset_token]
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_password_reset_token_user_id_created_at]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_password_reset_token_user_id_created_at] ON [dbo].[password_reset_token]
(
	[user_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_progress_user_next_review]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_progress_user_next_review] ON [dbo].[progress]
(
	[user_id] ASC,
	[next_review_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_users_google_subject]    Script Date: 5/9/2026 7:57:07 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_users_google_subject] ON [dbo].[users]
(
	[google_subject] ASC
)
WHERE ([google_subject] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[exercise] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[exercise] ADD  CONSTRAINT [DF_exercise_is_mini_test]  DEFAULT ((0)) FOR [is_mini_test]
GO
ALTER TABLE [dbo].[exercise_result] ADD  DEFAULT (getdate()) FOR [answered_at]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_started_at]  DEFAULT (sysutcdatetime()) FOR [started_at]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_total_questions]  DEFAULT ((0)) FOR [total_questions]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_correct_count]  DEFAULT ((0)) FOR [correct_count]
GO
ALTER TABLE [dbo].[exercise_session] ADD  CONSTRAINT [DF_exercise_session_score]  DEFAULT ((0.0)) FOR [score]
GO
ALTER TABLE [dbo].[learning_log] ADD  CONSTRAINT [DF_learning_log_words_studied]  DEFAULT ((0)) FOR [words_studied]
GO
ALTER TABLE [dbo].[password_reset_token] ADD  CONSTRAINT [DF_password_reset_token_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[progress] ADD  CONSTRAINT [DF_progress_ease_factor]  DEFAULT ((2.5)) FOR [ease_factor]
GO
ALTER TABLE [dbo].[progress] ADD  CONSTRAINT [DF_progress_interval_days]  DEFAULT ((1)) FOR [interval_days]
GO
ALTER TABLE [dbo].[progress] ADD  CONSTRAINT [DF_progress_repetitions]  DEFAULT ((0)) FOR [repetitions]
GO
ALTER TABLE [dbo].[user_vocabulary] ADD  DEFAULT ('NEW') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[example]  WITH CHECK ADD FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [FK_exercise_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [FK_exercise_topic]
GO
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [FK_exercise_vocab] FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [FK_exercise_vocab]
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercise] ([exercise_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD  CONSTRAINT [FK_exercise_result_exercise] FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercise] ([exercise_id])
GO
ALTER TABLE [dbo].[exercise_result] CHECK CONSTRAINT [FK_exercise_result_exercise]
GO
ALTER TABLE [dbo].[exercise_result]  WITH CHECK ADD  CONSTRAINT [FK_exercise_result_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[exercise_session] ([session_id])
GO
ALTER TABLE [dbo].[exercise_result] CHECK CONSTRAINT [FK_exercise_result_session]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [FK_exercise_session_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [FK_exercise_session_topic]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [FK_exercise_session_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [FK_exercise_session_user]
GO
ALTER TABLE [dbo].[learning_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[learning_log]  WITH CHECK ADD  CONSTRAINT [FK_learning_log_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[exercise_session] ([session_id])
GO
ALTER TABLE [dbo].[learning_log] CHECK CONSTRAINT [FK_learning_log_session]
GO
ALTER TABLE [dbo].[password_reset_token]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_token_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_token] CHECK CONSTRAINT [FK_password_reset_token_users]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD FOREIGN KEY([user_id], [vocab_id])
REFERENCES [dbo].[user_vocabulary] ([user_id], [vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[topic]  WITH CHECK ADD FOREIGN KEY([parent_topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[user_vocabulary]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_vocabulary]  WITH CHECK ADD FOREIGN KEY([vocab_id])
REFERENCES [dbo].[vocabulary] ([vocab_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vocabulary]  WITH CHECK ADD FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[exercise]  WITH NOCHECK ADD  CONSTRAINT [CK_exercise_exercise_type] CHECK  (([exercise_type]=N'FILLING' OR [exercise_type]=N'MATCH_MEANING'))
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [CK_exercise_exercise_type]
GO
ALTER TABLE [dbo].[exercise]  WITH NOCHECK ADD  CONSTRAINT [CK_exercise_match_mode] CHECK  (([match_mode] IS NULL OR ([match_mode]=N'MATCH_MEANING' OR [match_mode]=N'MATCH_IPA')))
GO
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [CK_exercise_match_mode]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [CK_exercise_session_counts] CHECK  (([total_questions]>=(0) AND [correct_count]>=(0) AND [correct_count]<=[total_questions]))
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [CK_exercise_session_counts]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [CK_exercise_session_score] CHECK  (([score]>=(0) AND [score]<=(100)))
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [CK_exercise_session_score]
GO
ALTER TABLE [dbo].[exercise_session]  WITH CHECK ADD  CONSTRAINT [CK_exercise_session_type] CHECK  (([session_type]='REVIEW' OR [session_type]='PRACTICE' OR [session_type]='MINI_TEST'))
GO
ALTER TABLE [dbo].[exercise_session] CHECK CONSTRAINT [CK_exercise_session_type]
GO
ALTER TABLE [dbo].[learning_log]  WITH NOCHECK ADD  CONSTRAINT [CK_learning_log_activity_type] CHECK  (([activity_type]=N'TEST' OR [activity_type]=N'REVIEW' OR [activity_type]=N'LEARN'))
GO
ALTER TABLE [dbo].[learning_log] CHECK CONSTRAINT [CK_learning_log_activity_type]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD  CONSTRAINT [CK_progress_srs] CHECK  (([ease_factor]>=(1.3) AND [interval_days]>=(0) AND [repetitions]>=(0)))
GO
ALTER TABLE [dbo].[progress] CHECK CONSTRAINT [CK_progress_srs]
GO
ALTER TABLE [dbo].[user_vocabulary]  WITH CHECK ADD CHECK  (([status]='MASTERED' OR [status]='LEARNING' OR [status]='NEW'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='LEARNER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([status]='BLOCKED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[vocabulary]  WITH CHECK ADD CHECK  (([level]='C1' OR [level]='B2' OR [level]='B1' OR [level]='A2' OR [level]='A1'))
GO
USE [master]
GO
