@{
    ViewData["Title"] = "Admin";
}

<h2 class="mb-4">Admin Management</h2>

<div class="list-group">
    <a asp-action="Users" class="list-group-item list-group-item-action">Users</a>
    <a asp-controller="Topic" asp-action="Index" class="list-group-item list-group-item-action">Topics</a>
    <a asp-controller="Vocabulary" asp-action="Index" class="list-group-item list-group-item-action">Vocabulary</a>
    <a asp-action="LearningOverview" class="list-group-item list-group-item-action">Learning Overview</a>
</div>
