@using System
@using System.Security.Claims
@using VocabLearning.Constants

@{
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
    var displayName = User.FindFirstValue(ClaimTypes.Name) ?? User.FindFirstValue(ClaimTypes.Email) ?? "User";
    var hasLocalPassword = string.Equals(
        User.FindFirstValue(CustomClaimTypes.HasLocalPassword),
        "true",
        StringComparison.OrdinalIgnoreCase);
}

@if (isAuthenticated)
{
    <li class="nav-item ms-auto">
        <span class="nav-link text-dark">Hello @displayName</span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">Profile</a>
    </li>
    @if (hasLocalPassword)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
        </li>
    }
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            <button type="submit" class="nav-link btn btn-link text-dark border-0 p-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item ms-auto">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
